@font-face {
    font-family: bebas;
    src: url(BebasNeue\ Regular.otf);
}

header{
    background: #000000;
}

.video{
    margin-left: 5%;
    width: 90%;
}

.titulo{
    background-color: #3FA8CC;
    padding: 30px 10px;
    font-family: bebas;
    font-size: 33px;
    color: white;
    text-align: center;
}

.links{
    padding: 20px 30px;
    border-bottom: solid 1px rgb(73, 73, 73);
}

a{
    font-family: bebas;
    color: #000000;
    font-size: 23px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

img{
    margin-right: 8px;
    width: 50px;
}