body{
    font-family: 'Montserrat', sans-serif;
}

.banner{
    height: calc(100vh - 105px);
    position: relative;
    top: 105px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.video__principal{
    width: 90%;
    top: 105px;
}

.index__sobre-mi, .index__portafolio{
    display: flex;
    position: relative;
    margin: 0 10%;
    width: 80%;
    margin-top: 50px;
}

.container__bienvenida{
    margin:105px 5% 0 5%;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 600px;
}
.robot{
    display: flex;
    width: 35%;
    margin-left: 5%;
}

.bienvenida{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 600px;
    text-align: end;
}
.bienvenida p{
    font-family: bebas;
    font-weight: 600;
    font-size: 70px;
    color: black;
}
.bienvenida p:first-child{
    font-size: 100px;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
}

.titulo__principal{
    width: 20%;
    position: relative;
    left: 40%;
}

.links__adicionales{
    width: 20%;
    position: relative;
    left: 40%;
}
b{
    font-weight: bold;
    color: #3FA8CC;
}

h2{
    margin-top: .5em;
    text-align: center;
    font-family:bebas;
    font-weight: bold;
    font-size: 70px;
    color: #3FA8CC;
}

.container__index__sobre__mi{
    background-color: black;
    padding: 2% 0;
}

.index__sobre-mi__imagen , .index__portafolio__imagen{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
}
.imagen__pipe{
    position: relative;
    width: 70%;
}

.index__sobre-mi__informacion , .index__portafolio__informacion{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-family:bebas;
    font-weight: bold;
}
.titulo p:first-child{
    color: white;
    font-size: 70px;
}
.titulo p:nth-child(2), .titulo p:nth-child(3){
    font-size: 40px;
    color: #3FA8CC;
}
.titulo p:last-child{
    color: white;
    font-size: 40px;

}

.descripcion{
    color: white;
    font-family: montserrat;
    font-size: 18px;
    margin-top: 1rem;
    line-height: 28px;
}

.link__pagina{
    text-decoration: underline;
    font-family: bebas;
    font-size: 35px;
    color: rgb(104, 104, 104);
    text-align: center;
    margin:3rem 0;
    transition: .5s transform;
}
.link__pagina:hover{
    transform: scale(1.05);
    transition: all .3s;
}

/* PORTAFOLIO INDEX */

.index__portafolio__imagen{
    width: 100%;
    display: flex;
    align-items: center;
}

.imagen__mockup{
    width: 150%;
}

.portafolio__index{
    color: black;
    font-family: bebas;
    font-weight: 700;
    font-size: 100px;  
    margin: 15% 0 35% 0;  
}

.portafolio__elementos{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
    gap: 20px;
}

.principal__portafolio{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px black;
    border-radius: 10px;
}
.fondo{
    width: 100%;
    height: 100%;
    background-color: black;
}

.principal__portafolio:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.principal__portafolio:hover .titulo-principal__portafolio{
    opacity: 1;

}

.titulo-principal__portafolio{
    font-family: bebas;
    font-size: 30px;
    color: black;
    font-weight: bold;
    position: absolute;
    margin-bottom: 250px;
    opacity: 0;
    transition: opacity .3s;
}

.imagen-principal__portafolio{
    width: 100%;
}
.info__ahorcado{
    display: none;
}

.redes__footer a{
    width: 30%;
    
}

.info{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    background: rgba(0, 0, 0, 0.849);
    border-radius: 20px;
}

.mockup__portafolio{
    margin-top: 5%;
    width: 40%;
}

.desc{
    margin: 5% 10%;
    font-family: montserrat;
    font-size: 20px;
    color: white;
}

.equis{
    width: 4%;
    position: absolute;
    right: 3%;
    top: 3%;
    transition: transform .3s;
}

.equis:hover{
    cursor: pointer;
    transform: scale(1.1);
}



@media  screen and (max-width: 768px){
    .banner{
        position: relative;
        top: 105px;
        height:200px;
    }
    .video__principal{
        width: 100%;
    }

    h2{
        font-size: 60px;
        margin-top: 8rem;
    }
    .index__sobre-mi{
        margin: 50px 10%;
        width: 80%;
        align-items: center;
        flex-direction: column;
        vertical-align: middle;
    }

    .imagen__pipe{
        width: 100%;
        margin-bottom: 2rem;
    }

    .index__sobre-mi__imagen{
        justify-content: center;
    }
    .titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .titulo p:first-child{
        
        font-size: 50px;
    }
    .titulo p:nth-child(2), p:nth-child(3){
        font-size: 30px;
    }
    .titulo p:last-child{
        font-size: 30px;
    }

    .titulo__principal{
        width: 50%;
        margin: 0% 25%;
        left: 0;
    }
    
    .links__adicionales{
        width: 70%;
        margin: 15%;
        left: 0;
    }

    .robot{
        display: none;
    }
    .bienvenida{
        text-align: start;
    }

    .bienvenida b{
        font-size: 70px;
    }
    .imagen__mockup{
        display: none;
    }
    .portafolio__index b{
        font-size: 70px;

    }
    .portafolio__index{
        font-size: 70px;
    }

    .bienvenida p:last-child{
        font-size: 60px;
    }

}
